fastapi
uvicorn[standard]
pydantic
python-multipart
rich 
motor
pymongo
python-jose[cryptography]
passlib
pydantic_settings
pydantic[email]
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
redis>=4.5.0
langchain_openai
langchain_core

# For documentation
markdown
reportlab
Pillow
markdown2
weasyprint